<ion-view view-title="EzChat">
  <ion-content class="padding has-header">

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="data.username" placeholder="Please enter your name">
      </label>
    </div>

    <button class="button icon-left ion-ios-locked-outline button-positive button-block button-outline" ng-click="login()">
      Login
    </button>

    <div id="videoDevices"></div>
  </ion-content>
</ion-view>
