<ion-view view-title="{{data.receiver}}" hide-back-button="true">

  <div class="bar bar-subheader">
    <button class="button button-icon icon ion-ios-reverse-camera positive" ng-click="change(0)"></button>
    <div class="h1 title">Calling</div>
    <button class="button button-clear button-positive" ng-click="leave()">End Call</button>
  </div>

  <ion-content class="padding has-subheader" scroll="false">

    <p class="dark">{{data.log}}</p>
    <p class="dark">{{$root.users}}</p>

    <div class="div-class">
      <div id="pause-overlay" ng-if="pause">
        <p style="text-align: center">Respondent has paused the video</p>
      </div>
      <div id="remote-videos-container"></div>
    </div>
    <div id="local-videos-container"></div>

  </ion-content>
</ion-view>
