/* Empty. Add your own CSS if you like */
/*video {
  width: 400px;  !*40%*!
  height: 300px;
  border-radius:15px;
  margin: 5px 10px;
}*/

#local-videos-container video{
  width: 200px;
  height: 100px;
  border-radius:15px;
  float: right;
}

#local-videos-container{
  position: absolute;
  top:  80% !important; /*80% tha*/
  width: 200px;
  height: 100px;
  left: 50%;

  /*padding: 200px 0px;
  *//*z-index: 2147483647;*/
}

#pause-overlay{
  position: absolute;
  display: block;
  width: 97%;
  height: 4%;
  top: 50%;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
  cursor: pointer;
}

#remote-videos-container{
  position: relative;
}

#remote-videos-container video{
  width: 97%;
  max-height: 100%;
}

/*.platform-browser #remote-videos-container{
  position: relative;
  height: 85vh !important;
  width: 95vw !important;
  top: 0 !important;
}

.platform-android #remote-videos-container{
  position: relative;
  height: 85vh !important;
  width: 95vw !important;
  top: -22vh !important;
}

.div-class{
  position: relative;
  left: 0;
  bottom: 0 !important;
  right: 5px;
  height: 85vh !important;
  width: 100vw !important;
}

#remote-videos-container video{
  position: relative;
  right: 0;
  bottom: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;

  height: 100% !important;
  background-size: cover;
  overflow: hidden;
}*/

/* msg css */
.scroll {
  padding: 0px 0 0px !important;
}

.messages {
  align-content: center !important;
  margin-bottom: 20px !important;
}

.other {
  padding: 10px !important;
  margin-left: 0 !important;
  margin-right: auto !important;
  float: right !important;
  clear: both;
}

.message {
  padding: 10px !important;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.msg1 {
  background: #007AFF !important;
  display: block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}

.msg2 {
  background: #d3d3d3 !important;
  display: block !important;
  color: black !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}


